.Page {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-items: baseline;
  height: 100vh;

  .data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
    margin-right: 0.5rem;
  }

  .form {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .Page {
    flex-direction: column;
    height: auto;
    padding: 1rem;

    .form {
      order: 1;
    }

    .data {
      order: 2;
      height: auto;
      overflow-y: visible;
      margin-right: 0;
    }
  }
}
