@use 'sass:color';

.Button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: #3d3db8 /* var(--primary-color) */;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: color.adjust(#3d3db8, $lightness: -10%);
  }
}

.icon {
  width: 18px;
  height: 18px;
  background-color: currentColor;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.Button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
